/* latin */
@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.gstatic.com/s/blinker/v3/cIf_MaFatEE-VTaP6hA9CgLu.ttf') format('truetype');
  }
  